<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Hnefatafl Game</title>
</head>

<body>

    <ul id="player-list" style="color: #fff; font-size: 34px; list-style-type: none"></ul>
    <div id="current-turn" style="color: #fff; font-size: 24px; margin-bottom: 10px;">
        Ход атакующих
    </div>

    <div class="board">
        {% for row in range(9) %}
        <div class="row">
            {% for col in range(9) %}
            {% if board.grid[row][col] %}
            {% set piece = board.grid[row][col] %}
            <div class="cell {{ piece.type }}" data-row="{{ row }}" data-col="{{ col }}">
                <img src="{% if piece.type == 'attacker' %}
                static/images/p1.png{% elif piece.type == 'defender' %}
                static/images/p2.png{% elif piece.type == 'king defender' %}
                static/images/king.png
                {% endif %}" class="size-image">
            </div>
            {% else %}
            <div class="cell empty" data-row="{{ row }}" data-col="{{ col }}"></div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <div class="chat_center">
        <div class="chat-container">
            <div class="chat">
                <input id="message" autocomplete="off" placeholder="Type your message...">
                <button onclick="sendMessage()">Send</button>
            </div>
            <ul id="messages" class="message-list"></ul>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/game.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.js') }}"></script>
    <script src="{{ url_for('static', filename='js/storage.js') }}"></script>

</body>
</html>