<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Menu</title>
    <link rel="stylesheet" href="../static/css/main_menu.css">
</head>

<body>
    <div class="container">
        <div class="chat">
            Общий чат (в разработке)
        </div>

        <div class="menu">
            <div class="min_menu">
                <h1>Куда пойдем ?</h1>
                <div class="menu-buttons">
                    <!-- <a href="/online-game" class="menu-button">Играть онлайн</a> -->
                    <a href="{{ url_for('game') }}" class="menu-button">Играть онлайн</a>
                    <a href="#" class="menu-button">Играть с ботом</a>
                </div>
            </div>
        </div>


        <div class="profile">
            <div class="userbar">
                <img src="../static/images/profiles/viking.png" alt="avatar" class="avatar">
                <span class="nickname">
                    <a href="/profile">{{ nickname }}</a>
                </span>
            </div>
        </div>

    </div>
</body>

</html>