/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #20183a;
}

.board {
    display: grid;
    grid-template-columns: repeat(9, 50px);
    /* 9 столбцов по 50px */
    grid-template-rows: repeat(9, 50px);
    /* 9 строк по 50px */
    gap: 1.2px;
    width: 460px;
    height: 462px;
    margin: 20px auto;
    border: 2px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cell {
    background-color: #fff;
    border: 1px solid #333;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

/* фигуры */
.attacker {
    color: red;
}

.defender {
    color: #000;
}


.safe{
    color: blue;
}

.selected {
    background-color: #004d99; /* Темно-синий цвет для выбранной фигуры */
    color: #fff; /* Белый цвет текста */
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #004d99,
        0 0 82px #004d99,
        0 0 92px #004d99,
        0 0 102px #004d99,
        0 0 151px #004d99;
}

.size-image {
    max-width: 50px;
    max-height: 50px;
}

.king{
    border: 1px solid gold;
}

.chat_center{
    width: 800px;
    max-width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.chat-container {
    background-color: #34495e;
    padding: 20px;
    border-radius: 5px;
    width: 600px;
    max-width: 80%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.chat input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #7f8c8d;
    margin-right: 10px;
}

.chat button {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: #1abc9c;
    color: white;
    cursor: pointer;
}

.chat button:hover {
    background-color: #16a085;
}

.message-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
}

.message-list li {
    background-color: #ecf0f1;
    color: #2c3e50;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 5px;
}


@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fade-out {
    animation: fadeOut 0.5s forwards;
}
